---
interface Props {
  url?: string;
  size: string;
  label: string;
}

const { url, size, label } = Astro.props;
---

<li>
  <a
    aria-disabled={!url}
    aria-label={label}
    href={`${url}#hub` || "/"}
    class:list={[
      "flex items-center justify-center gap-2 rounded-md border border-purple-500/50 bg-transparent p-1 text-purple-400 hover:bg-purple-500/20 hover:text-white aria-disabled:pointer-events-none aria-disabled:opacity-50",
      !url && "pointer-events-none",
      size,
    ]}
  >
    <slot />
  </a>
</li>
