---
interface Props {
  image: string;
  to: string;
  alt: string;
}

const { image, to, alt } = Astro.props;
---

<a
  href={to}
  target="_blank"
  class="aspect-square h-12 rounded-full border border-transparent p-3 transition-all duration-300 ease-in-out hover:scale-110 hover:border-purple-100"
  rel="noopener noreferrer"
>
  <img src={image} alt={alt} />
</a>
