---
import "../styles/global.css";
import Player from "@components/player/Player";
import Sidebar from "@components/sidebar/Sidebar.astro";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div
      class="mx-auto grid h-auto w-full max-w-[1400px] gap-8 px-4 py-8 lg:h-full lg:grid-cols-[400px_1fr] xl:grid-cols-[450px_1fr]"
    >
      <Sidebar />
      <div class="grid min-h-0 grid-rows-[100px_1fr] gap-8">
        <Player client:load />
        <div
          class="rounded-[10px] border-2 border-[#790063] bg-black/40 p-8 shadow-2xl backdrop-blur-sm lg:min-h-0 lg:overflow-y-auto"
        >
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
