<button
  id="open_menu"
  class="absolute top-4 left-4 z-2 aspect-square w-10 animate-pulse cursor-pointer drop-shadow-[0_0_8px_rgba(255,255,255,0.2)] transition-all duration-300 ease-in-out hover:scale-110 hover:animate-none md:top-8 md:left-8 md:w-12"
>
  <img
    src="/menu_eye.webp"
    alt="Icono de menu desplegable de la navegacion en forma de ojo"
  />
</button>

<script is:inline data-astro-rerun>
  document.getElementById("open_menu")?.addEventListener("click", () => {
    const nav = document.getElementById("nav_menu");
    const overlay = document.getElementById("nav_backdrop");
    const sidebar = document.getElementById("sidebar");

    if (nav) {
      nav.classList.remove("-translate-x-full");
      sidebar?.classList.remove("lg:overflow-y-auto");
      overlay?.classList.remove(
        "opacity-0",
        "invisible",
        "pointer-events-none",
      );
      overlay?.classList.add("opacity-100", "visible", "pointer-events-auto");
      return;
    }
  });
</script>
