<button
  id="close_menu"
  class="absolute top-6 right-4 aspect-square w-8 cursor-pointer drop-shadow-[0_0_8px_rgba(255,255,255,0.2)] transition-transform duration-300 ease-in-out hover:scale-110 md:top-8 md:right-8"
>
  <img
    src="/close.svg"
    alt="Icono de cerrar menu desplegable de la navegacion"
    class="h-full w-full"
  />
</button>

<script is:inline data-astro-rerun>
  document.getElementById("close_menu")?.addEventListener("click", () => {
    const nav = document.getElementById("nav_menu");
    const sidebar = document.getElementById("sidebar");
    const overlay = document.getElementById("nav_backdrop");

    if (nav) {
      nav.classList.add("-translate-x-full");
      sidebar?.classList.add("lg:overflow-y-auto");
      overlay?.classList.remove(
        "opacity-100",
        "visible",
        "pointer-events-auto",
      );
      overlay?.classList.add("opacity-0", "invisible", "pointer-events-none");
      return;
    }
  });
</script>
